{% extends "layouts/main.html" %}

{% block pageTitle %}
  Mainstream guide example
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <!---<li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>--->
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Emergency Alerts
      </h1>

      <!---<aside class="app-mainstream-guide-contents-list" role="complementary">
        <nav class="app-contents-list" aria-label="Pages in this guide" role="navigation">
          <h2 class="app-contents-list__title">
            Contents
          </h2>
          <ol class="app-contents-list__list">
            <li class="app-contents-list__list-item app-contents-list__list-item--dashed app-contents-list__list-item--active">
              <a href="#">
                Page 1
              </a>
            </li>
            <li aria-current="true" class="app-contents-list__list-item app-contents-list__list-item--dashed">
              Page 2
            </li>
            <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
              <a href="#">
                Page 3
              </a>
            </li>
          </ol>
        </nav>
      </aside>--->

    </div>

  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds app-mainstream-guide-body">
      
      <h2 class="govuk-heading-l">
        About Emergency Alerts
      </h2>
      
      <p>Emergency Alerts is a UK government service that will warn you if there’s a danger to life nearby.</p>
      <p>In an emergency, your mobile phone or tablet will receive an alert with advice about how to stay safe.</p>
      <div class="govuk-inset-text">
        The government does not need to know your phone number or location to send you an alert.
      </div>
      <h2 class="govuk-heading-l">
        Reasons you might get an alert
      </h2>
      <p class="govuk-body">You may get alerts about:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>severe flooding</li>
  <li>fires</li>
  <li>extreme weather</li>
  <li>public health emergencies</li>
</ul>
<p class="govuk-body">Emergency alerts will only be sent by:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>the emergency services</li>
  <li>fires</li>
  <li>government departments, agencies and public bodies that deal with emergencies</li>
</ul>
<h2 class="govuk-heading-l">
  What happens when you get an emergency alert
</h2>
<p class="govuk-body">Your mobile phone or tablet may:</p>
<ul class="govuk-list govuk-list--bullet">
<li>make a loud siren-like sound, even if it’s set on silent</li>
<li>vibrate</li>
<li>read out the alert</li>
</ul>
<p>The sound and vibration will last for about 10 seconds.</p>
<p>An alert will include a phone number or a link to the GOV.UK website for more information.</p>
<p>You’ll get alerts based on your current location – not where you live or work. You do not need to turn on location services to receive alerts.</p>
<iframe width="548" height="308.5" src="https://www.youtube.com/embed/9yLd2AjGzYI" title="UK Emergency Alerts" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<div class="govuk-!-padding-bottom-8"></div>
<h2 class="govuk-heading-l">
  What you need to do
</h2>
<p>When you get an alert, stop what you’re doing and follow the instructions in the alert.</p>
<h3 class="govuk-heading-m">If you’re driving or riding when you get an alert</h3>
<p>Find somewhere safe to stop before using your mobile phone or tablet. If you have a passenger, ask them to read the alert immediately.</p>
<div class="govuk-inset-text">
  It is illegal to use a hand-held device while driving or riding.
</div>
<h2 class="govuk-heading-l">
  If you cannot receive emergency alerts
</h2>
<p>If you do not have a <a href="#" class="govuk-link">compatible device</a>, you’ll still be kept informed about an emergency. The emergency services have other ways to warn you when there is a threat to life.</p>
<div class="govuk-inset-text">
  Emergency alerts will not replace local news, radio, television or social media.
</div>
<h2 class="govuk-heading-l">
  If you’re deaf, hard of hearing, blind or partially sighted
</h2>
<p>If you have a vision or hearing impairment, audio and vibration attention signals will let you know you have an emergency alert.</p>
<h2 class="govuk-heading-l">
  Alert languages
</h2>
<p>Emergency alerts will be sent in English. In Wales, they may also be sent in Welsh.</p>
<nav class="app-pagination" role="navigation" aria-label="Pagination">
        <ul class="app-pagination__list">
          <li class="app-pagination__item app-pagination__item--previous">
            <a href="#" class="govuk-link app-pagination__link" rel="prev">
              <span class="app-pagination__link-title">
                <svg class="app-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                  <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                </svg>
                <span class="app-pagination__link-text">
                  Previous
                </span>
              </span>
              <span class="app-pagination__link-divider visually-hidden">:</span>
              <span class="app-pagination__link-label">
                Page 1 title
              </span>
            </a>
          </li>
          <li class="app-pagination__item app-pagination__item--next">
            <a href="#" class="govuk-link app-pagination__link" rel="next">
              <span class="app-pagination__link-title">
                <svg class="app-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                  <path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                </svg>
                <span class="app-pagination__link-text">
                  Next
                </span>
              </span>
              <span class="app-pagination__link-divider visually-hidden">:</span>
              <span class="app-pagination__link-label">
                Page 3 title
              </span>
            </a>
          </li>
        </ul>
      </nav>

      <p>
        <a href="#">
          View a printable version of the whole guide
        </a>
      </p>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>

  </main>
</div>





    </div>
  </div>

{% endblock %}
