{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <h2 class="govuk-heading-m">Sprint 3</h2>
    <p><a href="/alerts" class="govuk-link">Gov.uk/alerts - national test message</a></p>
    <p><a href="/no-current" class="govuk-link">Gov.uk/alerts - no current alerts</a></p>
    <p><a href="/2-current-alerts" class="govuk-link">Gov.uk/alerts - 2x current alerts</a></p>
    <p><a href="/unique-url-alert" class="govuk-link">Unique URL alert</a></p>
    <p><a href="/how-alerts-work" class="govuk-link">How alerts work</a></p>
    <p><a href="/system-testing" class="govuk-link">System testing</a></p>
    <p><a href="/service-tests" class="govuk-link">Service tests - none currently planned</a></p>
    <p><a href="/service-tests-preview" class="govuk-link">Service tests - preview of upcoming test</a></p>
    <p><a href="/current-alerts" class="govuk-link">Current Alerts</a></p>
    <p><a href="past-alerts" class="govuk-link">Past Alerts</a></p>
    <p><a href="/privacy" class="govuk-link">Privacy</a></p>
  </div>
</div>

{% endblock %}
